.grid {
    display: grid;
    grid-template-columns: ; /* Ширина столбцов и создание*/
    grid-template-rows: ; /* Высота строк и создание*/
    grid-auto-rows: ; /* Высота для всех строк */
    grid-column-gap: ; /* Растояние между столбцов */
    grid-row-gap: ; /* Растояние между строк */
    grid-gap: ; /* Растояние между строками и столбцами */
    grid-auto-flow: column; /* Выстроивает колонки в строку */
                    row - Выстроит блоки в строку
grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
grid-template-columns: repeat(auto-fit, minmax(20px, 1fr ));


}

FR единица измерения столбцов.